* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #dee2e9;
}

/* HEADER */

header {
    background-color: #222831;
}
header .header {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
header .header .button-back {
    background-color: #2199ea;
    font-size: 40px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 3px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
header .header .button-back a i {
    color: #37414f;
}
header .header .logo {
    margin-left: auto;
    margin-right: auto;
}
header .header .logo a img{
    width: 40vw;
}
header .header .usuario {
    padding: 5px;
    display: flex;
    width: 70px;
    height: 40px;
    border-radius: 20px;
    margin-right: 20px;
    justify-content: space-around;
    align-items: center;
}
header .header .usuario i {
    font-size: 40px;
    color: #2199ea;
}
header .header .usuario .fa-solid {
    display: none;
}
header .header section button {
    display: none;
}
header nav {
    display: none;
}
main{
    display: flex;
    width: 90%;
    margin: auto;
 }

 .conteiner{
   
    
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;

 }

 .valoracion{
    font-weight: bold;

}

.formularios{
   
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}