* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.footer {
    margin: 0;
    padding: 10px;
    background-color: rgb(169, 182, 195,0.5);
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    color: #222831;
    font-size: 15px;
}
.columnas {
    display :flex;
    flex-direction: column;
    align-items: center;
}
.columnas ul{
    padding: 10px;
}
.logo-f img{
    width: 120px;
    /* border: solid red; */
    padding-top: 10px;
}
.footer li a{
    color: #222831;
}

@media (min-width:768px){
    .columnas{
        display :flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo-f img{
        width: 120px;
        /* border: solid red; */
        padding-top: 10px;
        position: relative;
        bottom: 50px;
    }
    .iconitos{
        padding-left: 25px;
    }
    
}
@media (min-width: 1024px){
    
}

