*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* -------------------header------------------ */
header{
    display: flex;
    align-items: center;
    background-color: #06334b;
    justify-content: space-evenly;
    height: 10vh
}
header .logo img {
    width: 100px;
    /* border:solid red; */
    /* position:relative;
    top:0;
    left:0; */
    padding-top: 10px;
}
header .botones{
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 10vh;
    /* border:solid red; */
    align-items: center;
    justify-content: space-evenly;
    
}
header .register  a {
    font-size: 50%;
    text-decoration: none;
    color: #06334b;
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
}
header .login  a {
    font-size: 50%;
    text-decoration: none;
    color: #06334b;
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
}
header .register,.login {
    width: 50%;
    height: 4vh;
    display: flex;
    align-items: center;
    background-color: #7a8ea1;
    border-radius: 10px;
    /* border:solid red; */
    
    
}
header .botones i{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    
}
.fa-user{
    width:40%;
    font-size: 30px;
}

/* PRIMER MAIN */


main section {
    background-image: url("../images/ARGENTINA-1024x551.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    border: 0.5px solid;
}


main .boton-de-inputs{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 150px;
    /* padding: 8px; */
    /* border: 1px solid red; */
}

main .campo{
    width: 20vw;
    border: 0px 0px 0px 0px;
    border: none; /* Quitar los bordes en todos los lados */
    border-right: 1px solid; 
    margin-right: 5px; /* Espacio entre las barras de búsqueda y el icono */
    padding: 8px;
}

.fa-magnifying-glass{
    margin-right: 5px;
    padding: 8px;
    
}

#segundo-header .logo img {
    width: 80px;
    /* border:solid red; */
    /* position:relative;
    top:0;
    left:0; */
    padding-top: 10px;
}

#segundo-header .boton-de-inputs{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    height: 30px;
    padding-left: 0%;
    padding-right: 0px;
    /* padding: 2px; */
    /* border: 1px solid red; */
}

#segundo-header .campo{
    text-align: center;
    width: 18%;
    border: 0px 0px 0px 0px;
    border: none; /* Quitar los bordes en todos los lados */
    border-right: 1px solid; 
    /* margin-right: 2px; Espacio entre las barras de búsqueda y el icono */
    /* padding: 2px; */
    /* border: 1px solid red; */
}


#segundo-header #boton-acceder-cuenta{
    display: flex;
    padding: 5px 2px 5px 2px;
    border-radius: 30px;
}

#segundo-header .fa-user{
    width:20px;
    font-size: 15px;
}

.fa-bars{
   font-size: 15px;
}

@media (min-width: 768px){
    /* ---------------------header-------------------- */
    header .logo img{
        width:200px
    }
    header .botones{
        display: flex;
        flex-direction: row;
        /* border:solid red; */
        align-items: center;
        justify-content: right;
        
    }
    header .botones .register{
        width: 30%;
        height: 4vh;
        display: flex;
        align-items: center;
        background-color: #7a8ea1;
        border-radius: 10px;
        
        
        /* border:solid red; */
        
    }
    /* .botones, .user{
        flex-grow: 1;
    } */
    header .botones .login {
        width: 30%;
        height: 4vh;
        display: flex;
        align-items: center;
        background-color: #7a8ea1;
        border-radius: 10px;
        margin-inline: 10px
        
    }
    header .user{
        display: flex;
        align-items: center;
        
    }
     header .fa-user{
        width:40%;
        font-size: 30px;
        flex-direction: row-reverse;
    }
    header .register  a {
        font-size: 70%;
        text-decoration: none;
        color: #06334b;
        font-weight: bold;
        text-align: center;
        padding-left: 10px;
    }
    header .login  a {
        font-size: 70%;
        text-decoration: none;
        color: #06334b;
        font-weight: bold;
        text-align: center;
        padding-left: 10px;
    }

    /* MAIN*/

    section{
        background-image: url("../images/ARGENTINA-1024x551.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        /* border: 1px solid red; */
        height: 400px;
    }

     main .boton-de-inputs{
        margin-top: 280px;
        /* border: 1px solid red; */
    }

    /* header */
#segundo-header .logo img {
    width: 100px;
    /* border:solid red; */
    /* position:relative;
    top:0;
    left:0; */
    padding-top: 10px;
}

#segundo-header .boton-de-inputs{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 30px;
    padding-left: 0%;
    /* padding: 2px; */
    /* border: 1px solid red; */
}

#segundo-header .campo{
    text-align: center;
    width: 18%;
    border: 0px 0px 0px 0px;
    border: none; /* Quitar los bordes en todos los lados */
    border-right: 1px solid; 
    /* margin-right: 2px; Espacio entre las barras de búsqueda y el icono */
    /* border: 1px solid red; */
}

#segundo-header .fa-user{
    width:50px;
    font-size: 30px;
}

#segundo-header #boton-acceder-cuenta{
    display: flex;
    padding: 10px 14px 10px 14px;
    border-radius: 30px;
}

.fa-bars{
   font-size: 24px;
}
}

@media (min-width: 1028px){

    /* MAIN */
    section{
        background-image: url("../images/ARGENTINA-1024x551.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        height: 440px;
        /* border: 1px solid red; */
       
    }

     main .boton-de-inputs{
        margin-top: 380px;
        /* border: 1px solid red; */
    }

    main #boton-de-inputs{
        margin-top: 380px;
        /* border: 1px solid red; */
    }

}