*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main section {
    background-image: url("../images/ARGENTINA-1024x551.jpg");
    border: 1px solid red;
    width: 100vw;
    height: 78vh;
    position: relative;
}

/* button{
    display: flex;
    justify-content: center;
    border: 1px solid red;
} */

.contenedor-busqueda {
    display: flex;
    position: relative;
    top: 50%;
    left: 20%;
    align-items: center; /* Centrar verticalmente */
    padding: 10px;
    border: 1px solid red;
    border-radius: 15px;
}

button {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    border-radius: 15px;
    height: 30px;
}
/* button input{
    border: 0px 1px 0px 0px;
} */

.contenedor-busqueda input{
    height: 100%;
    width: 100%;
    border: 0px 1px 0px 0px;
    border: none; /* Quitar los bordes en todos los lados */
    border-right: 1px solid;
    text-align:center;
    margin-right: 5px; /* Espacio entre las barras de búsqueda y el icono */
}

.fa-magnifying-glass{
    margin-right: 5px;
}