body{
background-image: url(https://i.pinimg.com/originals/89/44/aa/8944aae38e7675be7b918a8e0ac2a5db.gif);
background-size: cover;

height: 50dvh;
padding:0;
margin:0;
}



#tittle { 
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "roboto", "Helvetica Neue",;
    top: 100px;
    color: rgb(0, 0, 0)
}

form{
    background-color: rgba(174, 189, 189, 0.664);
    width: 33rem;
    justify-content: center;


    padding: 12px;
    

    border-radius: 12px;
    display: flex;
    
    font-size: x-large;
    flex-direction: column;
    font-weight: 900;

    align-items: center;
    
}
input[type="text"]{

    border-radius: 12px;
    margin: 7px;
    padding: 5px;

}
input[type="password"]{

    border-radius: 12px;
    margin: 7px;
    padding: 5px;

}

.Reg{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    padding-top: 5%;
    
}
.image{
    width: 100%;
}
.error{
    text-align: center;
}

footer{
    position: relative;
top: 30%;

}
.is-valid {
    color: #34b97b;
    border: solid 3px #34b97b;
  }
  
  .is-invalid {
    color: #be222f;
    border: solid 3px #be222f;
  }
  
  .alert-warning{
    color:#842029;
    background-color: #F8D7DA;
    text-align: center;
    border-radius: 10px;
  }
@media(min-width: 768px) {
    .debajo-header {
        margin-top: 90px;
    }
}
@media(min-width: 1024px) {
    .debajo-header {
        margin-top: 60px;
    } 
}
