<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b4df2da41a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/carrito2.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Carrito2</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="button-back">
                <a href="/">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
            </div>
            <div class="logo">
                <a  href="/"><img src="img/TuristAr-logo2.png" alt="logo" ></a>
            </div>
            <section class="barra-busqueda">
                <button class="boton-de-inputs">
                <input class="campo" type="text" name="destino" placeholder="¿A dónde vas?">
                <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </section>
            <div class="usuario">
                <i class="fas fa-bars"></i>
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">Secciones</a>
                </li>
                <li>
                    <a href="/">Secciones</a>
                </li>
                <li>
                    <a href="/">Secciones</a>
                </li>
                <li>
                    <a href="/">Secciones</a>
                </li>
                <li>
                    <a href="/">Secciones</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="conteiner">
            
                <div class="conteiner-img">
                    <img src="/images/bariloche.jpg" alt="bariloche" width="150px" height="170px">
                </div>
                <div class="dates">
                    <h4>Datos de tu reserva</h2>
                    <p>Provincia/departamento o ciudad</p>
                        
                    <p class="valoracion"><i class="fa-solid fa-star"></i>Calificacion del cliente</p>
                    <p>Fecha de entrada-Fecha de salida</p>
                </div>
                        
        </div>

        <div class="formularios">
            <div class="form">
                <article class="container">
                  <div class="title">Datos Personales</div>
                  <form action="#"></form>
                    <div class="user-details">
                      <label for="Tarjeta">Tarjeta</label>
                      <select name="" id="">
                          <option value="Debito">Debito</option>
                      <option value="Credito">Credito</option>
                       </select>
                      
                      <div class="input-box">
                          <span class="details">Numero de Tarjeta</span>
                          <input type="text" placeholder="123456" required>
              
                      <div class="input-box">
                          <span class="details">Tarjeta de Credito o Debito</span>
                          <input type="text" placeholder="Escriba su nombre" required>
              
                      </div>
                      <div class="input-box">
                          <span class="details">Vencimiento</span>
                          <input type="text" placeholder="012" required>
                      
                      </div>
                    
                      <div class="input-box">
                          <span class="details">CVV</span>
                          <input type="text" required>
              
                      </div>
                      <div class="input-box">
                          <span class="details">Codigo Pòstal</span>
                          <input type="text" placeholder="Ej: 4600" required>
              
                      </div>
                      <label for="Pais">Pais o Region</label>
                      <select name="" id="">
                          <option value="USA">Estados Unidos</option>
                      <option value="Canada">Canadá</option>
                      <option value="Mexico">México</option>
                      <option value="Brazil">Brasil</option>
                      <option value="Argentina">Argentina</option>
                      <option value="Chile">Chile</option>
                      <option value="Colombia">Colombia</option>
                      <option value="Peru">Perú</option>
                      <option value="Venezuela">Venezuela</option>
                      <option value="Cuba">Cuba</option>
                      </select>
                      <div class="input-box">
                          <span class="details">Nacionalidad</span>
                          <input type="text" placeholder="nacionalidad" required>
              
                      </div>
                      <div class="boton">
                          <button>Siguiente</button>
              
                      </div>
                  </div>
                </article>
              </div>

        </div>
                        
            

    </main>
    <footer class="footer">
        <div class="columnas">
            <div class="logo-f">
                <a href="/"><img src="/img/TuristAr-logo2.png" alt="logo"></a>
            </div>
            <div class="contact">
                <h6>Contactanos</h6>
                <ul>
                    <li><i class="fa-brands fa-facebook"></i><a href="/facebook">Facebook</a></li>
                    <li><i class="fa-solid fa-envelope"></i><a href="/facebook">Correo</a></li>
                    <li><i class="fa-brands fa-whatsapp"></i><a href="/facebook">Whatsapp</a></li>
                    <li><i class="fa-brands fa-twitter"></i><a href="/facebook">Twitter</a></li>
                    <li><i class="fa-brands fa-instagram"></i><a href="/facebook">Instagram</a></li>
                </ul>
            </div>
            <div class="Nosotros">
                <h6>Nosotros</h6>
                <ul>
                    <li><a href="/PreguntasFrec"> ¿Quienes somos?</a></li>
                    <li><a href="/PreguntasFrec">¿Donde nos ubicamos?</a></li>
                    <li><a href="/PreguntasFrec">¿Que hacemos?</a></li>
                    <li><a href="/PreguntasFrec">Agregar hospedaje</a></li>
                </ul>

            </div>
            <div class="iconitos">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-solid fa-envelope"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
    </div>
        </div>
        <div class="footer--date">
            <p>Copyright &copy; 2023 TuristAr S.R.L<p>
        </div>
    </footer>
</body>
</html>