<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b4df2da41a.js" crossorigin="anonymous"></script>
    <link rel= "stylesheet"  href= "/css/stylesheet-home.css">
    <title>TuristAr</title>
</head>
<body>
    <header>
        hola mundo 
    </header>
    <!-- <main>
        <section>
            <button>
                <input type="text" name="destino" placeholder="¿A dónde vas?">
                <input type="date" name="fecha-entrada" placeholder="Fecha de entrada">
                <input type="date" name="fecha-salida" placeholder="Fecha de salida">
                <input type="number" name="viajeros" placeholder="Viajeros">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
         </section>
    </main> -->
    <main>
        <section class="contenedor-imagen">
           
            <div class="contenedor-busqueda">
                <button>
                <input  type="text" name="destino" placeholder="¿A dónde vas?">
                <input type="date" name="fecha-entrada" placeholder="Fecha de entrada">
                <input type="date" name="fecha-salida" placeholder="Fecha de salida">
                <input type="number" name="viajeros" placeholder="Viajeros">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            </div>
        </section>
    </main>     
    
</body>
</html>