<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b4df2da41a.js" crossorigin="anonymous"></script>
    <link rel= "stylesheet"  href= "/css/stylesheet-home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>TuristAr</title>
</head>
<body>
    <header>
        <header>
            <div class="logo">
                <a  href="/"><img src="img/logo-TuristAr.png" alt="logo" ></a>
            </div>
                
            <div class="botones">
                <div class="login">
                    <a href="/LogIn">INICIAR SESION</a>
                </div>
                <div class="register">
                    <a href="/LogIn">REGISTRARSE</a>
                </div>
                
            </div>  
            
            <div class="user">
                <i class="fa-solid fa-user"></i>
            </div>
    
        </header>
    </header>
    <!-- <main>
        <section>
            <button>
                <input class="campo" type="text" name="destino" placeholder="¿A dónde vas?">
                <input class="campo" type="date" name="fecha-entrada" placeholder="Fecha de entrada">
                <input class="campo" type="date" name="fecha-salida" placeholder="Fecha de salida">
                <input class="campo" type="number" name="viajeros" placeholder="Viajeros">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
         </section>
    </main> -->
    <main>
           <section>
                <div id="contenedor-de-inputs">
                    <button class="boton-de-inputs">
                    <input class="campo" type="text" name="destino" placeholder="¿A dónde vas?">
                    <input class="campo" type="date" name="fecha-entrada" placeholder="Fecha de entrada">
                    <input class="campo" type="date" name="fecha-salida" placeholder="Fecha de salida">
                    <input class="campo" type="number" name="viajeros" placeholder="Viajeros">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
        </section>
    </main>     
    <header id="segundo-header">
        <div class="logo">
            <a  href="/"><img src="img/logo-TuristAr.png" alt="logo" ></a>
        </div>

            <button class="boton-de-inputs">
            <input class="campo" type="text" name="destino" placeholder="¿A dónde vas?">
            <input class="campo" type="date" name="fecha-entrada" placeholder="Fecha de entrada">
            <input class="campo" type="date" name="fecha-salida" placeholder="Fecha de salida">
            <input class="campo" type="number" name="viajeros" placeholder="Viajeros">
            <i class="fa-solid fa-magnifying-glass"></i>
            </button>

        <button id="boton-acceder-cuenta">
            <i class="fa-solid fa-bars"></i>
            <div class="user">
                <i class="fa-solid fa-user"></i>
            </div>
        </button>

    </header>
    <main id="tercer-main">
        <div class="hospedajes">
            <article class="articuloCaja">
                <div class="contenedor-imagen">
                    <!-- <a href="/"> --> <img src="/images/bariloche.jpg" alt="imagen cafetera" > <!-- </a>  --> 
                </div>
                <div class="destinos"> Bariloche </div>
                    <div>
                        <p class="valoracion"> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> </p>
                    </div>
                    <div>
                        <p class="descripcion"> <!--  como que esta cubierto en el viaje: --> Desayuno Incluido + Vuelo + Traslados+ Excursion</p>
                    </div>
            </article> 
            <article class="articuloCaja">
                <div class="contenedor-imagen">
                    <!-- <a href="/"> --> <img src="/images/bariloche.jpg" alt="imagen cafetera" > <!-- </a>  --> 
                </div>
                <div class="destinos"> Bariloche </div>
                    <div>
                        <p class="valoracion"> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> </p>
                    </div>
                    <div>
                        <p class="descripcion"> <!--  como que esta cubierto en el viaje: --> Desayuno Incluido + Vuelo + Traslados+ Excursion</p>
                    </div>
            </article>
            <article class="articuloCaja">
                <div class="contenedor-imagen">
                    <!-- <a href="/"> --> <img src="/images/bariloche.jpg" alt="imagen cafetera" > <!-- </a>  --> 
                </div>
                <div class="destinos"> Bariloche </div>
                    <div>
                        <p class="valoracion"> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> </p>
                    </div>
                    <div>
                        <p class="descripcion"> <!--  como que esta cubierto en el viaje: --> Desayuno Incluido + Vuelo + Traslados+ Excursion</p>
                    </div>
            </article> 
            <article class="articuloCaja">
                <div class="contenedor-imagen">
                    <!-- <a href="/"> --> <img src="/images/bariloche.jpg" alt="imagen cafetera" > <!-- </a>  --> 
                </div>
                <div class="destinos"> Bariloche </div>
                    <div>
                        <p class="valoracion"> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> </p>
                    </div>
                    <div>
                        <p class="descripcion"> <!--  como que esta cubierto en el viaje: --> Desayuno Incluido + Vuelo + Traslados+ Excursion</p>
                    </div>
            </article> 
            <article class="articuloCaja">
                <div class="contenedor-imagen">
                    <!-- <a href="/"> --> <img src="/images/bariloche.jpg" alt="imagen cafetera" > <!-- </a>  --> 
                </div>
                <div class="destinos"> Bariloche </div>
                    <div>
                        <p class="valoracion"> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> </p>
                    </div>
                    <div>
                        <p class="descripcion"> <!--  como que esta cubierto en el viaje: --> Desayuno Incluido + Vuelo + Traslados+ Excursion</p>
                    </div>
            </article> 
            <article class="articuloCaja">
                <div class="contenedor-imagen">
                    <!-- <a href="/"> --> <img src="/images/bariloche.jpg" alt="imagen cafetera" > <!-- </a>  --> 
                </div>
                <div class="destinos"> Bariloche </div>
                    <div>
                        <p class="valoracion"> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> </p>
                    </div>
                    <div>
                        <p class="descripcion"> <!--  como que esta cubierto en el viaje: --> Desayuno Incluido + Vuelo + Traslados+ Excursion</p>
                    </div>
            </article> 
            <article class="articuloCaja">
                <div class="contenedor-imagen">
                    <!-- <a href="/"> --> <img src="/images/bariloche.jpg" alt="imagen cafetera" > <!-- </a>  --> 
                </div>
                <div class="destinos"> Bariloche </div>
                    <div>
                        <p class="valoracion"> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> </p>
                    </div>
                    <div>
                        <p class="descripcion"> <!--  como que esta cubierto en el viaje: --> Desayuno Incluido + Vuelo + Traslados+ Excursion</p>
                    </div>
            </article> 
            <article class="articuloCaja">
                <div class="contenedor-imagen">
                    <!-- <a href="/"> --> <img src="/images/bariloche.jpg" alt="imagen cafetera" > <!-- </a>  --> 
                </div>
                <div class="destinos"> Bariloche </div>
                    <div>
                        <p class="valoracion"> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> </p>
                    </div>
                    <div>
                        <p class="descripcion"> <!--  como que esta cubierto en el viaje: --> Desayuno Incluido + Vuelo + Traslados+ Excursion</p>
                    </div>
            </article> 
        </div>
    </main>



</body>
</html>